https://api.yonghuivip.com/webapi/cms-activity-rest/h5/activity/page url script-response-body https://88jj.github.io/s/yonghui/dl.js

https://api.yonghuivip.com/webapi/cms-activity-rest/h5coupon/send/single url script-request-body https://88jj.github.io/s/getReqUrlAndHeaderAndBody.js

hostname=api.yonghuivip.com
